.footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border-top: 2px solid #ae1afe;
  padding-block: 0.5rem;
  overflow: hidden;
}

.footer h2 {
  font-size: 1rem;
  font-weight: 550;
}
